$textWhite: #fff;
$textBlack: #000;

$textTitle:#6ab04c;
$backgroundStyle: #99f0f0e7;
$buttonColor:#62b967;

$blue2:#7aeeeee7;
$blue3:rgb(32, 129, 129);
$blue4:rgb(11, 65, 87);
$blue5:rgb(1, 19, 27);

